body {
  overflow: hidden;
}

.searchInput {
  width: 33px;
  background-color: rgba(255,255,255,.7);
  transition: width .3s;
}
.searchInput:focus {
  width: calc(20% - 1em);
  background-color: rgba(255,255,255,1);
  transition: width .3s;
}

.infoBox {
  width: 80%;
}

.filterBox {
  height: calc(100vh - 7vh);
  width: 20%;
}

.weatherContainer {
  justify-content: flex-start;
}
.weather {
  margin-right: 100px;
}
