
ul {
  list-style: none;
}
/***************************************/
/************* TYPOGRAPHY **************/
/***************************************/
html {
  font-size: 12px;
}
body {
  font-family: 'Circular Std';
}
div {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/***************************************/
/*************** BUTTONS ***************/
/***************************************/
button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}
.close {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.fa-window-close {
  font-size: 2em;
}
.okSearch {
  background: white;
  color:#333;
  box-shadow: 5px 5px 10px rgba(0,0,0,.1);
  width: auto;
  height: 40px;
  font-size: 1em;
  margin: 20px;
}
.okSearch:hover {
  background: lightgreen;
}

/***************************************/
/*************** BUTTONS ***************/
/***************************************/
input[type=text] {
  font-size: 2rem;
  font-family: inherit!important;
  text-indent: 8px;
  outline: none;
  border: none;
  &:focus {
    outline: none;
  }
}

/***************************************/
/**************** FLEX *****************/
/***************************************/
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.alignCenter {
  align-items: center;
}
.vCenter{
  align-items: center;
}
.spaceBetween {
  justify-content: space-between;
}

/***************************************/
/**************** HEADER ***************/
/***************************************/
.App-header {
  background-color: #222;
  height: 7vh;
  padding: 10px;
  color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.App-title {
  font-size: 1em;
}


/***************************************/
/***************** MAP *****************/
/***************************************/
.map {
  height:93vh;
  width: 100%;
}
.pin {
  text-align: center;
  transform:translate(-10px, -40px);
}
.fa-map-marker {
  font-size: 40px;
}
.pin-title {
  font-weight: bold;
}


/***************************************/
/*************** INFOBOX ***************/
/***************************************/
ul {
  -webkit-padding-start: 0;
}
.infoHeader, .info {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.infoHeader {
  padding: 1em 5% 0;
  flex-direction: row;
  h2 {
    font-size: 3em;
    margin: .5em 0;
  }
}
.info {
  flex-direction: column;
}


.infoBox {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height:86vh;
  bottom: 0;
  background: lightgreen;
  color:#333;
  overflow: scroll;
  box-shadow: 0 -10px 40px rgba(0, 0, 0, .1);
}

.right, .left {
  padding: 0 5%;
}

.right {
  display: flex;
  align-items: flex-start;
}

hr {
  width: 160px;
  height: 1px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  margin: 30px auto;
}

/*** PARK FEATURES ***/
.features {
  li {
    padding: 0 0 10px;
  }
  .true {
    list-style: url("../images/checkmark.svg");
  }
  .false {
    list-style: url("../images/cross.svg");
  }
}
.sunset {
  padding: 2em 0;
  small {
    margin-left: 10px;
  }
  p {
    font-size: 4em;
    margin: 0;
  }
}

/***************************************/
/**************** WEATHER **************/
/***************************************/
.sunny {
  width: 70px;
  height: 70px;
}

/***************************************/
/**************** EVENTS ***************/
/***************************************/
.events {
  .event {
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin:0 auto 10px;
    box-shadow: 10px 10px 20px rgba(0,0,0,.1);
    .date-box {
      text-align: left;
      background: #333;
      padding: 1em;
      color: #fff;
    }
    .date {
      font-size: 2em;
    }
    .month {
      font-size: .7em;
    }
    .text {
      padding: 1em 2em 1.2em 1em;
    }

    h4 {
      font-size: 1.4em;
      margin: 0;
    }
    p {
      margin: 0;
      font-size: .9em;
    }
  }
}

/***************************************/
/**************** FILTER ***************/
/***************************************/
.searchInput {
  z-index:999!important;
  width: 100%;
}
.filterBox {
  position: absolute;
  padding: 1em;
  height: auto;
  width: 100%;
  background: #333;
  color: #f6f6f6;
  right: 0;
  z-index: 998;
  overflow: scroll;
  transform:translateY(-100vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .filterHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .filterBoxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div {
        width: 70px;
        height: 70px;
        background: #666;
        margin: 5px;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .active{
        background: green;
      }
    }
  }

  .chosenFilters {
    position: absolute;
    top:16px;
    z-index: 9999;
  }
  .filterItem {
    padding: 4px 12px;
    display: inline-block;
    background: lightblue;
    color: #333;
    border-radius: 12px;
    font-size: .9em;
    margin: 0 6px 5px 0;
    transition: ease 1s;
    &:after {
      content: url(../images/cross-dark.svg);
      margin-left: 5px;
    }
  }

/***************************************/
/*********** INSTAGRAM FEED ************/
/***************************************/

.instagramContainer{
  padding: 0 5% 5%;
  .instagramFeed {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.imageContainer {
  width: calc(25% - 6px);
  margin: 1px 3px;
  img {
    width: 100%;
  }
}

/***************************************/
/************* TRANSITIONS *************/
/***************************************/
.hidden, .infoBox, .visible, .animate, .filterBox {
  -webkit-transition: transform 200ms;
  transition: transform 300ms;
}
.infoBox {
  transform: translateY(86vh);
}
.visible {
  transform: translateY(0) !important;
}
.hidden {
  display: none !important;
}

.filterBoxes div {
  transition: transform .1s ease;
}

.filterBoxes div:hover {
  transition: transform .1s ease-in-out;
  transform: scale(1.04);
}

.event {
  transition: transform .1s ease;
  cursor: pointer;
}
.event:hover {
  transition: transform .1s ease-in-out;
  transform: scale(1.01);
}

button {

}
button:hover {

}
