
/***************************************/
/************* TYPOGRAPHY **************/
/***************************************/
html {
  font-size: 14px;
}

body {
  overflow: hidden;
}

/***************************************/
/*************** INFOBOX ***************/
/***************************************/

.infoBox {
  height:60vh;
  transform: translateY(60vh);
}

.infoHeader, .info {
  flex-direction: row;
}
