
/***************************************/
/************* TYPOGRAPHY **************/
/***************************************/
html {
  font-size: 14px;
}


/***************************************/
/*************** INFOBOX ***************/
/***************************************/

.infoBox {
  height:50vh;
  transform: translateY(50vh);
}

.infoHeader, .info {
  flex-direction: row;
}

.left, .right {
  width: 50%;
}

/***************************************/
/*************** FILTER ****************/
/***************************************/
.searchInput {
  z-index: 999;
}
.filterBox {
  height: calc(50vh - 7vh);
  width: 50%;
}
