
/***************************************/
/************* TYPOGRAPHY **************/
/***************************************/
html {
  font-size: 14px;
}

/***************************************/
/**************** GENERAL***************/
/***************************************/
hr.mobile {
  display: none;
}

/***************************************/
/*************** INFOBOX ***************/
/***************************************/

.infoBox {
  height:60vh;
  transform: translateY(60vh);
}

.infoHeader, .info {
  flex-direction: row;
}

.left, .right {
  width: 50%;
}

/***************************************/
/*************** FILTER ****************/
/***************************************/
.searchInput {
  width:0px;
  background-color: none;
  transition: width, background-color .5s;
}
.searchInput:focus {
  width: 100%;
  background-color: white;
  transition: width .5s;
}

.filterBox {
  height: auto;
  width: 33%;
  .filterBoxes {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.chosenFilters {
  display: block;
  position: absolute;
  top:16px;
  right: 20vw;
  .cross {
    padding-left:5px;
    cursor: pointer;
  }
}
.filterItem {
  padding: 4px 12px;
  display: inline-block;
  background: lightblue;
  color: #333;
  border-radius: 12px;
  font-size: .9em;
  margin: 0 6px 5px 0;
}


/***************************************/
/************* TRANSITIONS *************/
/***************************************/
.searchInput {
  width: 33px;
  background-color: rgba(255,255,255,.7);
  transition: width .3s;
}
.searchInput:focus {
  width: 100%;
  background-color: rgba(255,255,255,1);
  transition: width .3s;
}
