@charset "UTF-8";
ul {
  list-style: none; }

/***************************************/
/************* TYPOGRAPHY **************/
/***************************************/
html {
  font-size: 12px; }

body {
  font-family: 'Circular Std'; }

div {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

/***************************************/
/*************** BUTTONS ***************/
/***************************************/
button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit; }

.close {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer; }

.fa-window-close {
  font-size: 2em; }

.okSearch {
  background: white;
  color: #333;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  width: auto;
  height: 40px;
  font-size: 1em;
  margin: 20px; }

.okSearch:hover {
  background: lightgreen; }

/***************************************/
/**************** HEADER ***************/
/***************************************/
.App-header {
  background-color: #222;
  height: 7vh;
  padding: 10px;
  color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; }

.App-title {
  font-size: 1em; }

/***************************************/
/***************** MAP *****************/
/***************************************/
.map {
  height: 93vh;
  width: 100%; }

.pin {
  text-align: center;
  transform: translate(-10px, -40px); }

.fa-map-marker {
  font-size: 40px; }

.pin-title {
  font-weight: bold; }

/***************************************/
/*************** INFOBOX ***************/
/***************************************/
ul {
  -webkit-padding-start: 0 !important; }

.infoHeader, .info {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 1200px; }

.infoHeader {
  padding: 1em 5% 0;
  flex-direction: row; }
  .infoHeader h2 {
    font-size: 3em;
    margin: .5em 0; }

.info {
  flex-direction: column; }

.infoBox {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 86vh;
  bottom: 0;
  background: lightgreen;
  color: #333;
  overflow: scroll;
  box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.1); }

.right, .left {
  padding: 0 5%; }

.right {
  display: flex;
  align-items: flex-start; }

/*** PARK FEATURES ***/
.features li {
  padding: 0 0 10px; }

.features .true {
  list-style: url("../images/checkmark.svg"); }

.features .false {
  list-style: url("../images/cross.svg"); }

.sunset {
  padding: 2em 0; }
  .sunset small {
    margin-left: 10px; }
  .sunset p {
    font-size: 4em;
    margin: 0; }

/***************************************/
/**************** EVENTS ***************/
/***************************************/
.events .event {
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin: 0 auto 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); }
  .events .event .date-box {
    text-align: left;
    background: #333;
    padding: 1em;
    color: #fff; }
  .events .event .date {
    font-size: 2em; }
  .events .event .month {
    font-size: .7em; }
  .events .event .text {
    padding: 1em 2em 1.2em 1em; }
  .events .event h4 {
    font-size: 1.4em;
    margin: 0; }
  .events .event p {
    margin: 0;
    font-size: .9em; }

/***************************************/
/**************** FILTER ***************/
/***************************************/
.searchInput  {
  z-index: 999 !important; }

.filterBox {
  position: absolute;
  padding: 1em;
  height: auto;
  width: 100%;
  background: #333;
  color: #f6f6f6;
  right: 0;
  z-index: 998;
  overflow: scroll;
  transform: translateY(-100vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .filterBox .filterHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .filterBox .filterBoxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .filterBox .filterBoxes div {
      width: 70px;
      height: 70px;
      background: #666;
      margin: 5px;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
    .filterBox .filterBoxes .active {
      background: green; }

/***************************************/
/************* TRANSITIONS *************/
/***************************************/
.hidden, .infoBox, .visible, .animate, .filterBox {
  -webkit-transition: transform 200ms;
  transition: transform 300ms; }

.infoBox {
  transform: translateY(86vh); }

.visible {
  transform: translateY(0) !important; }

.hidden  {
  display: none !important; }

button, .filterBoxes div {
  transition: transform .1s ease; }

button:hover, .filterBoxes div:hover {
  transition: transform .1s ease-in-out;
  transform: scale(1.04); }

.event {
  transition: transform .1s ease;
  cursor: pointer; }

.event:hover {
  transition: transform .1s ease-in-out;
  transform: scale(1.01); }

@media screen and (min-width: 768px) {
  /***************************************/
  /************* TYPOGRAPHY **************/
  /***************************************/
  html {
    font-size: 14px; }
  /***************************************/
  /*************** INFOBOX ***************/
  /***************************************/
  .infoBox {
    height: 50vh;
    transform: translateY(50vh); }
  .infoHeader, .info {
    flex-direction: row; }
  .left, .right {
    width: 50%; }
  /***************************************/
  /*************** FILTER ****************/
  /***************************************/
  .searchInput {
    z-index: 999; }
  .filterBox {
    height: calc(50vh - 7vh);
    width: 50%; } }

@media screen and (min-width: 992px) {
  body {
    overflow: hidden; }
  .infoBox {
    width: 75%; }
  .searchInput {
    z-index: 999; }
  .filterBox {
    height: calc(100vh - 7vh);
    width: 25%; } }
