@charset "UTF-8";
/***************************************/
/************** VARIABLES **************/
/***************************************/
/***************************************/
/**************** RESET ****************/
/***************************************/
ul {
  list-style: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0; }

a {
  color: inherit;
  text-decoration: none; }

input {
  -webkit-appearance: none; }

/***************************************/
/************* TYPOGRAPHY **************/
/***************************************/
html {
  font-size: 12px; }

body {
  font-family: "Circular Std" !important; }

div {
  box-sizing: border-box; }

h4 {
  margin: 0 0 10px; }

/***************************************/
/*************** BUTTONS ***************/
/***************************************/
button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit; }

.close {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer; }

.fa-window-close {
  font-size: 2em; }

.okSearch {
  background: lightblue;
  color: #333;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  width: auto;
  height: 40px;
  font-size: 1em;
  margin: 20px 0; }

.okSearch:hover {
  background: lightgreen; }

/***************************************/
/*************** INPUTS ****************/
/***************************************/
input {
  border: 0;
  outline: 0;
  text-indent: 8px;
  font-family: inherit;
  font-size: 1em; }

input[type=text]  {
  font-size: 2rem;
  font-family: inherit !important;
  text-indent: 8px;
  outline: none;
  border: none; }
  input[type=text] :focus {
    outline: none; }

/***************************************/
/************ FLEX + GRID **************/
/***************************************/
.flex {
  display: flex; }

.row  {
  flex-direction: row; }

.column {
  flex-direction: column; }

.vCenter {
  align-items: center; }

.hCenter {
  justify-content: center; }

.spaceBetween {
  justify-content: space-between; }

.spaceAround {
  justify-content: space-around; }

.grid {
  display: grid; }

/***************************************/
/**************** HEADER ***************/
/***************************************/
.App-header {
  background-color: #222;
  height: 7vh;
  padding: 10px;
  color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; }

.App-title {
  font-size: 1em; }

/***************************************/
/***************** MAP *****************/
/***************************************/
.map {
  height: 93vh;
  width: 100%; }

.pin {
  text-align: center;
  transform: translate(-10px, -40px); }

.fa-map-marker {
  font-size: 40px; }

.pin-title {
  font-weight: bold; }

/***************************************/
/*************** INFOBOX ***************/
/***************************************/
.infoHeader, .info {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 1200px; }

.infoHeader {
  padding: 1em 5% 0;
  flex-direction: row; }
  .infoHeader h2 {
    font-size: 3em;
    margin: .5em 0 0; }

.info {
  flex-direction: column; }

.share {
  background: #333;
  font-size: 12px;
  padding: 0 .5em;
  margin: 6px 5% 12px;
  width: 70px;
  height: 29px;
  color: #f6f6f6;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  .share img {
    height: 13px;
    margin-left: 5px; }

.infoBox {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 86vh;
  bottom: 0;
  background: lightgreen;
  color: #333;
  overflow: scroll;
  box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.1); }

.right, .left {
  padding: 0 5%; }

.right {
  display: flex;
  align-items: flex-start; }

hr {
  width: 160px;
  height: 0px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin: 30px auto; }

hr.mobile {
  display: block; }

/*** PARK FEATURES ***/
.infoBox .features {
  padding-left: 6%; }
  .infoBox .features:nth-child(2) {
    margin-left: 30px; }
  .infoBox .features li {
    padding: 0 0 10px; }
  .infoBox .features .true {
    list-style: url("../images/checkmark.svg"); }
  .infoBox .features .false {
    list-style: url("../images/cross-dark-large.svg");
    opacity: .5; }

.sunset {
  padding: 2em 0; }
  .sunset small {
    margin-left: 10px; }
  .sunset p {
    font-size: 4em;
    margin: 0; }

/***************************************/
/**************** WEATHER **************/
/***************************************/
.weather {
  text-align: center;
  padding-top: 20px; }

.sunny {
  width: 70px;
  height: 70px; }

/***************************************/
/**************** EVENTS ***************/
/***************************************/
.events .event {
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin: 0 auto 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); }
  .events .event .date-box {
    text-align: left;
    background: #333;
    padding: 1em;
    color: #fff; }
  .events .event .date {
    font-size: 2em; }
  .events .event .month {
    font-size: .7em; }
  .events .event .text {
    padding: 1em 2em 1.2em 1em; }
  .events .event h4 {
    font-size: 1.4em;
    margin: 0; }
  .events .event p {
    margin: 0;
    font-size: .9em; }

/***************************************/
/**************** FILTER ***************/
/***************************************/
.searchInput  {
  background-color: none;
  width: 0px;
  border: 3px #333; }

.searchInput:focus {
  width: 100%;
  background-color: white;
  transition: width .5s; }

img.search {
  position: absolute;
  right: 17px;
  top: 17px; }

.searchSuggestions {
  margin-bottom: 40px; }
  .searchSuggestions span {
    font-style: italic;
    font-weight: 300;
    opacity: .4; }

.searchSuggestion {
  background: #fff;
  color: #333;
  padding: 7px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  .searchSuggestion h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0; }
  .searchSuggestion small.features {
    opacity: .6; }

.filterBox {
  position: absolute;
  padding: 1.5rem;
  height: auto;
  width: 100%;
  background: #f6f6f6;
  color: #333;
  right: 0;
  overflow: scroll;
  transform: translateY(-100vh);
  box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.1); }
  .filterBox h4 {
    letter-spacing: 0.01rem;
    font-size: .8rem;
    font-weight: 400; }
  .filterBox .filterBoxes {
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: stretch; }
    .filterBox .filterBoxes div {
      height: 70px;
      background: #bbb;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); }
    .filterBox .filterBoxes .active {
      background: lightgreen;
      color: #333; }

.chosenFilters {
  display: none; }

/***************************************/
/*********** INSTAGRAM FEED ************/
/***************************************/
.instagramContainer {
  padding: 0 5%; }
  .instagramContainer .instagramFeed {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

.imageContainer {
  width: calc(25% - 6px);
  margin: 1px 3px; }
  .imageContainer img {
    width: 100%; }

/***************************************/
/*************** UPDATED ***************/
/***************************************/
.updated {
  padding: 5% 0 6%;
  text-align: center; }
  .updated small {
    opacity: .3; }

/***************************************/
/************** Z-INDEXES **************/
/***************************************/
.filterBox {
  z-index: 10; }

.App-header {
  z-index: 20; }

.chosenFilters {
  z-index: 21; }

.searchInput {
  z-index: 22; }

img.search {
  z-index: 23; }

/***************************************/
/************* TRANSITIONS *************/
/***************************************/
.hidden, .infoBox, .visible, .animate, .filterBox {
  -webkit-transition: transform 200ms;
  transition: transform 300ms; }

.infoBox {
  transform: translateY(86vh); }

.visible {
  transform: translateY(0) !important; }

.hidden  {
  display: none !important; }

.filterBoxes div {
  transition: transform .1s ease; }

.filterBoxes div:hover {
  transition: transform .1s ease-in-out;
  transform: scale(1.04); }

.searchInput {
  width: 33px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: width .3s; }

.searchInput:focus {
  width: calc(100% - 1em);
  background-color: white;
  transition: width .3s; }

.event, .searchSuggestion, .share {
  transition: transform 30ms ease;
  cursor: pointer; }

.event:hover, .searchSuggestion:hover, .share:hover {
  transition: transform .1s ease-in-out;
  transform: scale(1.01); }

button, button:hover {
  transition: background-color .3s ease; }

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(-10px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }

.searchSuggestion, .info {
  animation-name: animateIn;
  animation-duration: .5s; }

@keyframes popIn {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

.filterItem {
  animation-name: popIn;
  animation-duration: .2s; }

@media screen and (min-width: 768px) {
  /***************************************/
  /************* TYPOGRAPHY **************/
  /***************************************/
  html {
    font-size: 14px; }
  /***************************************/
  /**************** GENERAL***************/
  /***************************************/
  hr.mobile {
    display: none; }
  /***************************************/
  /*************** INFOBOX ***************/
  /***************************************/
  .infoBox {
    height: 60vh;
    transform: translateY(60vh); }
  .infoHeader, .info {
    flex-direction: row; }
  .left, .right {
    width: 50%; }
  /***************************************/
  /*************** FILTER ****************/
  /***************************************/
  .searchInput  {
    width: 0px;
    background-color: none;
    transition: width, background-color .5s; }
  .searchInput:focus {
    width: 100%;
    background-color: white;
    transition: width .5s; }
  .filterBox {
    height: auto;
    width: 33%; }
    .filterBox .filterBoxes {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr; }
  .chosenFilters {
    display: block;
    position: absolute;
    top: 16px;
    right: 20vw; }
    .chosenFilters .cross {
      padding-left: 5px;
      cursor: pointer; }
  .filterItem {
    padding: 4px 12px;
    display: inline-block;
    background: lightblue;
    color: #333;
    border-radius: 12px;
    font-size: .9em;
    margin: 0 6px 5px 0; }
  /***************************************/
  /************* TRANSITIONS *************/
  /***************************************/
  .searchInput {
    width: 33px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: width .3s; }
  .searchInput:focus {
    width: 100%;
    background-color: white;
    transition: width .3s; } }

@media screen and (min-width: 992px) {
  body {
    overflow: hidden; }
  .searchInput {
    width: 33px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: width .3s; }
  .searchInput:focus {
    width: calc(20% - 1em);
    background-color: white;
    transition: width .3s; }
  .infoBox {
    width: 80%; }
  .filterBox {
    height: calc(100vh - 7vh);
    width: 20%; }
  .weatherContainer {
    justify-content: flex-start; }
  .weather {
    margin-right: 100px; } }
