.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 7vh;
  padding: 10px;
  color: white;
  box-sizing: border-box;
}

.App-title {
  font-size: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.map {
  height:93vh;
  width: 100%;
}

.pin {
  text-align: center;
  transform:translate(-10px, -40px);
}
.fa-map-marker {
  font-size: 40px;
}
.pin-title {
  font-weight: bold;
}

.hidden {
  display: none;
}

.visible {
 display: block;
 z-index: 999;
 width: 500px;
 min-height: 20vh;
 background-color: white;
 border: 2px solid white;
}
